* {
    box-sizing: border-box;
}

.body {

    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after,
.menu::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;

}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {

    width: 16.66667%;
}

.col-3 {

    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

.logo {
    margin-top: 9px;
}



.menu>li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;

}

.arrowdown {
    position: absolute;
   
    z-index: 10;
    background-image: url(/lesson-9/shop-project/images/arrowblue.png);
    width: 15px;
    height: 15px;
    border: none;
    color: #2c71b8;
    margin: auto;
    top: 0;
    right: 10px;
    bottom: 0;
    
    
}

menu>li>a:hover.arrowdown{

   background-image: url(/lesson-9/shop-project/images/arrowwhite.png);
  
}

.menu>li> :last-child {
    border-right: 1px solid #2c71b8;
}

.menu>li>a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    
}

.menu>li>a:hover {
    background-color: #2c71b8;
    color: white;
    
}

.search {
    border: 1px solid #2c71b8;
    padding: 5px;
    height: 40px;
    margin-top: 5px;
}

::placeholder {
    color: #2c71b8;
    font-size: 21px;
    padding-left: 15px;
    
}

.searchfield {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    background: inherit;
    outline: none;
    width: 153px;
    float: left;
    height: 30px;
    color: #2c71b8;
    font-size: 21px;
    line-height: 30px;


}

.buttonsearch {
    background-image: url(/lesson-9/shop-project/images/search.png);
    width: 30px;
    height: 30px;
    background-position: center center;
    background-color: #2c71b8;
    background-repeat: no-repeat;
    border: none;
    margin-top: -1px;


}

.cart {
    position: relative;
}

.korz {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    float: right;
    background-image: url(/lesson-9/shop-project/images/korzbl.png);
    background-position: center center;
    background-color: white;
    background-repeat: no-repeat;
    border: none;


}

.product-count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    color: white;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    left: -5px;
    top: -5px;

}


.submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: #2c71b8;
    height: 315px;
    left: -1px;
    padding-top: 30px;
    
   
    
}

.submenu>li {
    width: 285px;
    height: 40px;
    font-size: 21px;
    color: white;

}
.submenu>li>a:hover {
    background-color: white;
    color: #2c71b8;
}

li:hover>.submenu {
    display: block;
}

li:hover > a {
    background-color: #2c71b8;
    color: white;
}

.submenu>li>a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}